* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-size: 16px; */
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #35424a;
  border-bottom: 3px solid #a9508b;
}

.header-container {
  color: white;
  display: flex;
  flex-wrap: wrap;
  height: 6rem;
  justify-content: space-between;
  align-items: center;
  margin: 0 10vw;
}

span {
  color: #a9508b;
}

ul li {
  color: white;
  display: inline;
  list-style-type: none;
  padding: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}

a {
  color: white;
  text-decoration: none;
}

#services-nav {
  color: #a9508b;
  font-weight: bold;
}

h1,
h1 span {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.8rem;
}

nav ul li a:hover {
  font-weight: bold;
  cursor: pointer;
  color: #cccccc;
}

.section-subscribe {
  color: white;
  display: flex;
  flex-wrap: wrap;
  height: 6rem;
  justify-content: space-between;
  padding: 0 11vw;
  align-items: center;
  background-color: #35424a;
  flex-wrap: wrap;
  /* margin-bottom: 50px; */
}

h3 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2rem;
}

#placeholder {
  font-size: 0.8rem;
  /* padding: 0.4rem 0;   */
  width: 260px;
  height: 40px;
}

button {
  background-color: #a9508b;
  color: white;
  padding: 0.5rem;
  font-size: 0.8rem;
  border: none;
  width: 100px;
  height: 40px;
}

main {
  display: flex;
  background: #f4f4f4;
}

.quote {
  display: flex;
  flex-direction: column;
  background-color: #35424a;
  color: white;
  align-self: flex-start;
  padding: 3vh 2vw 2vh 1vw;
  margin-top: 3vh;
  line-height: 3vh;
  width: 23vw;
  font-size: 15px;
  /* align-content: space-between; */
}

.quote h4 {
  margin: 2vh 0;
  font-size: 18px;
}

#Name,
#Email {
  height: 4.5vh;
  padding-left: 0.4vw;
}

#message {
  padding-left: 0.5vw;
  padding-top: 0.5vh;
}

#send {
  width: 75px;
  margin-top: 1vh;
  padding: 1.4vh 1vw;
  color: white;
  background-color: #a9508b;
  border: none;
}

.website {
  background-color: #e6e6e6;
  width: 51.5vw;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* justify-content: flex-start; */
  margin: 0 4vw 0.7vh 10vw;
  padding: 1.7vh 1.3vw 5vh;
  align-self: flex-start;
  /* justify-content: space-between; */
  /* height: 27vh; */
  height: auto;
  border: 0.07rem lightgray solid;
  /* letter-spacing: 0.25px; */
  line-height: 22px;
}
.website h4 {
  margin: 1.25rem 0;
  font-size: 1.1rem;
  /* font-weight: 700; */
  line-height: 1.6rem;
}

.web__maint {
  margin-bottom: 3vh;
}

#services {
  margin: 2vh 0 2vh 10vw;
  font-size: 18px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 3px solid #a9508b;
  height: 8rem;
  background-color: rgb(255, 250, 240);
}

footer p {
  font-size: 0.9rem;
  line-height: 1.4rem;
  font-weight: 400;
}

@media (max-width: 768px) {
  .header-container {
    height: 11rem;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 0;
  }

  .header-right {
    margin: 0 3vw;
  }

  .header-left {
    margin: 0 3vw;
  }

  .section-subscribe {
    height: 11rem;
  }
  .main {
    display: flex;
    flex-direction: column;
  }
  .quote {
    padding: 3vh 3vw 2vh 2vw;
    margin: 3vh 4vw 2vh 10vw;
    width: 80vw;
  }

  .website {
    width: 80vw;
    margin: 0 4vw 0.7vh 10vw;
  }
}

@media (max-width: 350px) {
  .header-container {
    font-size: 15px;
  }
  h1,
  h1 span {
    font-size: 1.6rem;
  }
}
